<h3>Select Dummy User</h3>
<table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of dummyUserData; let dummyRecordIndex = index;" (click)="onDummyRowClick(record)">
        <td>{{record.firstName}}</td>
        <td>{{record.lastName}}</td>
        <td>{{record.email}}</td>
      </tr>
    </tbody>
  </table>

  <h3> Dummy User Data Display Via Child Route:</h3>
 <router-outlet></router-outlet>